/* IMPORTAÇÃO DE FONTES */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

@font-face{
    src: url(./fonts/PlaywriteDKUloopetGuides-Regular.ttf);
    font-family: "Playwrite";
}

p{
    font-family: "Playwrite";
    color: darkblue;
    font-size: 15px;
}

h1{
    font-family: "Lora", serif;
    font-weight: 600;
}

h2{
    font-family: "Lora", serif;
    font-weight: 400;
}



body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 20px;
background-color: #f4f4f4;
color: black;

}

/* Estilizei dois elementos ao mesmo tempo */
h1,h2{
    color: #1f3c88;
}

/* Seletor de classes */
.destaque{
    background-color: white;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 25px;
}

/* PSEUDO CLASSE */
a:link{
    color: rgb(0, 255, 115);
    text-decoration: none;
}

/* Estiliza links que não foram vizitados */
a:link{
    color: orange;
}

/* Estiliza links que foram vizitados */
#visited{
    color: purple;
}

/* Estiliza links quando  */
a:hover{
    color: red;
    font-size: 25px;
    text-decoration: none;
}

/* Estiliza links quando é clicado */
a:active{
    color: green;
}

/* Estiliza o botão quando passar o mouse */
button:hover{
    cursor: pointer;
    background-color: aliceblue;
}

button:active{
    transform:scaleX(2);
    transform:scaleY(4);
    transform:scaleZ(0);
}

/* Estiliza o input quando estou mexendo em um específico */
input:focus{
    outline: none;
    border: 2px solid yellow;
    background-color: azure;
}

/* Estiliza o input obrigatorio */
input:required{
    border: 2px solid red;
}

/* Estiliza o input válido */
input:valid{
    background-color: #ecfdf5;
}

/* Estiliza o input inválido */
input:invalid{
    background-color: #fef2f2;
}

/* Estiliza o input marcado */
input:checked{
    accent-color: green;
}

/* Estiliza o input desabilitado */
input:disabled{
    background-color: #e5e7eb;
    color: #6b7280;
}

/* Seleciona o primeiro filho */
.lista-exemplo li:first-child{
    font-weight: bold;
    color: green;
}

/* Seleciona o último filho */
.lista-exemplo li:last-child{
    color: red;
}

/*  Seleciona algum filho*/
.lista-exemploli:nth-child(3){
    background-color: #fef3c7;
}

/* Seleciona elementos sem conteúdo */
.caixa-vazia:empty{
    width: 200px;
    height: 60px;
    background-color: #fef2f2;
    border: red;
}

/* PSEUDO ELEMENTO */

h2::before{
    content: "⭐";
    color: #fef3c7;
}

/* insere  conteúdo DEPOIS de algum elemento */
h2::after{
    content: "✓";
    color: green;
}

/* Estiliza o texto dentro dos inputs */
input::placeholder{
    color: #6b7280;
    font-style: italic;
}

/* Estiliza otexto selecionado pelo usuário */
::selection{
    background-color: yellow;
    color: green;
    font-size: bold;
}


/* Estiliza os marcadores de texto */
.lista-maker li::marker{
    color: red;
    font-size: 20px;
}