#caixa-top{
    text-align: center;
    background-color: lightgrey;
    color: white;
    padding: 30px;
}

#caixa-verde{
    text-align: center;
    border: solid;
    background-color: green;
    margin-top: 20px;
    margin-bottom: 0px ;
    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;
}

#caixa-vermelha{
    text-align: center;
    background-color: red;
    margin-top: 0px;
    margin-bottom: 0px ;
    margin-left: 0px;
    margin-right: 0px;
    padding: 60px;
}

#caixa-rodape{
    text-align: center;
    background-color: grey;
    color: white;
    padding: 30px;
}